version: "3"

services:
  frontend:
    build:
      context: ./frontend

    env_file:
      - frontend/.env
    depends_on:
      - postgres
      - pgadmin4
      - backend
    networks:
      - cardflow
    volumes:
      - ./frontend:/usr/src/app
    tty: true
    ports:
      - "5173:5173"
    command: sh /usr/src/app/entrypoint.sh

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    expose:
      - "8000"
    env_file:
      - backend/.env
    depends_on:
      - postgres
      - pgadmin4
    networks:
      - cardflow
    volumes:
      - ./backend:/usr/src/app

  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./postgresql:/var/lib/postgresql/data
    networks:
      - cardflow

  pgadmin4:
    image: dpage/pgadmin4
    user: "${UID}:${GID}" # to avoid permission issues
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - ./pgadmin4:/var/lib/pgadmin
    ports:
      - "5433:80"
    depends_on:
      - postgres
    networks:
      - cardflow

networks:
  cardflow:
    driver: bridge
