
@keyframes firstWord {
    0%, 33.333%, 66.666%, 100% {
      color: black;
      background: none;
    }
    16.666%, 33.333% {
      background: linear-gradient(90deg, #007FEF -11.26%, #00DDD8 99.78%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  
  @keyframes secondWord {
    0%, 33.333%, 66.666%, 100% {
      color: black;
      background: none;
    }
    50%, 66.666% {
      background: linear-gradient(90deg, #7E27C7 0%, #FB0181 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  
  @keyframes thirdWord {
    0%, 33.333%, 66.666%, 100% {
      color: black;
      background: none;
    }
    83.333%, 100% {
      background: linear-gradient(90deg, #FF544B 0%, #F9C82B 106.03%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  
  .firstWordText {
    animation: firstWord 9s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: black; /* Fallback for when the gradient is not applied */
  }
  
  .secondWordText {
    animation: secondWord 9s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
  }
  
  .thirdWordText {
    animation: thirdWord 9s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
  }
  
  
  .buttonContainer {
    position: relative;
    display: inline-block; /* Use 'inline-flex' if you're using flex properties */
    /* No padding or margins that might create extra space around the button */
  }
  
  .buttonContainer::before {
    content: '';
    position: absolute;
    top: 0; /* Align with the button's edges */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 7px; /* Match your button's border-radius */
    background: transparent; /* Ensure there's no solid background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0); /* Start with a transparent shadow */
    animation: shadingFlow 9s linear infinite;
  }
  
  @keyframes shadingFlow {
    0%, 100% { 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0); /* Transparent shadow */
    }
    16.666%, 33.333% {
      box-shadow: 0 8px 16px rgba(0, 127, 239, 0.2); /* Blue shadow */
    }
    50%, 66.666% {
      box-shadow: 0 8px 16px rgba(251, 1, 129, 0.2); /* Pink shadow */
    }
    83.333%, 100% {
      box-shadow: 0 8px 16px rgba(249, 200, 43, 0.2); /* Yellow shadow */
    }
  }
  