@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  position: relative;
  z-index: 1;
}

body {
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}