@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100%;
  position: relative;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}